.DS_Store
node_modules
.history
static/nly.ai
static/nly.svg
.nuxt
dist
icon
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs-dist/.nojekyll
*history code
