language: node_js

node_js: 
    - '10'

cache:
  directories:
    - node_modules

install:
  - npm install

before_script:

script:
  - npm run build

after_script:
  - git init
  - git config user.name "${U_NAME}"
  - git config user.email "${U_EMAIL}"
  - git add .
  - git commit -m "update travis demo"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:${P_BRANCH}

branches:
  only:
    - master
env:
 global:
